@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
  background-image: url(../assets/minefield_bg_large.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.5rem;
  color: lightgrey;
  margin: 0;
  text-align: center;
}

body::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 1rem;
  width: 30%;
  height: 30%;
  background-image: url(../assets/minefield_sign.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  opacity: 0.4;
  pointer-events: none;
  z-index: -1;
}

body * {
  font-family: "VT323", system-ui;
}

main {
  padding: 2rem;
}

h1 {
  font-family: "Press Start 2P", system-ui, sans-serif;
  display: flex;
  margin: 1.5rem 0rem;
  justify-content: center;
}

h2,
h3,
h4,
h5 {
  margin: 0.5rem 0;
}

#command {
  margin: 1rem 0rem;
}

#command > div {
  display: flex;
  gap: 0rem 1rem;
  justify-content: center;
  align-items: center;
}

#command > #stats {
  display: none;
}

#command button {
  display: none;
  font-size: 1.2rem;
  height: fit-content;
  background-color: steelblue;
  background-image: linear-gradient(
    -12deg,
    #00000080 2%,
    transparent 90%,
    #ffffff38 100%
  );
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

#command button[data-in="emoji"] {
  padding: 0.2rem 0.5rem;
}

#command button:hover {
  background-color: darkgray;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

/* #flag {
  color: maroon;
  text-shadow: 0px 0px 6px whie;
} */

#btn-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.btn-difficulty {
  width: 6rem;
  aspect-ratio: 1/1;
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-difficulty > p {
  display: none;
  position: absolute;
  bottom: -2.5rem;
  background: lightgray;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 1rem;
  white-space: nowrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.btn-difficulty:hover p {
  display: block;
}

.btn-difficulty:hover {
  background-color: gray;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

#minefield-container {
  display: flex;
  justify-content: center;
}

#minefield {
  max-width: 80vw;
}

#minefield td {
  position: relative;
  border: 1px;
  padding: 0.1em;
  min-width: 2rem;
  height: 2rem;
  aspect-ratio: 1/1;
  background-color: lightblue;
  background-image: linear-gradient(-20deg, transparent 60%, #ffffff80 100%);
  color: black;
  transition: all 0.3s ease;
  /* cant use display:flex in table */
  text-align: center;
  vertical-align: center;
}

#minefield td[data-marker="flagged"]:after {
  font-family: "Font Awesome 6 Free";
  content: "\f024"; /* fa-flag */
  font-weight: 900;
  color: crimson;
  position: absolute;
  top: 0.2rem;
  right: 0.3rem;
  font-size: 0.8rem;
  pointer-events: none;
}

#minefield td[data-marker="flagged"] {
  background-color: lightcoral;
}

#minefield td[data-state="end-revealed"] {
  background-color: gray;
}

#minefield td[data-state="revealed"] {
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.3);
  background-color: lightskyblue;
}

#minefield td[data-state="end-error"] {
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.6);
  background-color: lightcoral;
}

#minefield td[data-state="not-revealed"]:hover {
  box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.6);
  background-color: gray;
  cursor: pointer;
}

@media (max-width: 480px) {
  body {
    font-size: 1.2rem;
  }

  main {
    padding: 1rem 1rem;
  }

  h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
  }

  h2 {
    font-size: 1.3rem;
  }

  #command > div {
    gap: 0rem 0.5rem;
  }

  #command button {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }

  #btn-section {
    gap: 1rem;
  }

  .btn-difficulty {
    width: 4.5rem;
    font-size: 1rem;
  }

  #minefield-container {
    max-width: 100%; /* to prevent cropping off the left side because display:flex + scrolling has weird behaviour */
    padding: 0 1rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  #minefield td {
    min-width: 1.4rem;
    height: 1.4rem;
  }
}
